@font-face {
  font-family: 'Overpass Mono';
  src: url(../fonts/overpass/overpass-mono-regular.otf);
}

@font-face {
  font-family: 'NotoMono Regular';
  src: url(../fonts/noto/NotoMono-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/inter/Inter.ttf);
}

:root {
  --gray-50: #F8F9FA;
  --gray-090: #f3f4f6;
  --gray-100: #f5f5f5;
  --gray-150: #eaeaea;
  --gray-200: #e0e0e0;
  --gray-300: #ccc;
  --gray-400: #666;
  --gray-500: #444;
  --gray-600: #222;
  --blue-010: #e0effa;
  --blue-025: #99c2de;
  --blue-050: #80b3d6;
  --blue-100: #66a4cd;
  --blue-200: #4d95c5;
  --blue-300: #3386bd;
  --blue-400: #1a77b5;
  --blue-500: #0168ad;
  --blue-600: #005d9b;
  --blue-700: #00538a;
  --blue-800: #004879;
  --blue-900: #003e67;
  --red-25: #FBE9EA;
  --red-50:  #F6CDCE;
  --red-100: #f1b0b2;
  --red-200: #ea8487;
  --red-300: #e3585d;
  --red-400: #db2d33;
  --red-500: #b61f24;
  --red-600: #8a181b;
  --red-700: #5f1013;
  --red-800: #33090a;
  --red-900: #080102;
  --green-100: #ddf2e6;
  --green-200: #b8e4ca;
  --green-300: #92d7af;
  --green-400: #6dc993;
  --green-500: #48bb78;
  --green-600: #389860;
  --green-700: #2b7249;
  --green-800: #1d4d31;
  --green-900: #0f2819;
  --yellow-100: #fff;
  --yellow-200: #fbf3d5;
  --yellow-300: #f6e5a7;
  --yellow-400: #f1d779;
  --yellow-500: #ecc94b;
  --yellow-600: #e7bb1d;
  --yellow-700: #bd9814;
  --yellow-800: #8f730f;
  --yellow-900: #614e0a;
}


html,
body {
  font-family: "Inter", sans;
  line-height: 1.2rem;
  height: 100%;
  margin: 0;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
}

.sidenav {
  background-color: var(--gray-100);
  border-right: solid 1px var(--gray-200);
  flex: 1;
  -webkit-flex: 1;
}

.content {
  padding: 1em 2em;
  flex: 5;
  -webkit-flex: 5;
}

.content-inner {
  /* max-width: 1024px; */
  margin: 0 auto;
}

.top-bar {
  background: #fff;
  border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
  color: var(--gray-600);
  font-size: 0.8rem;
  padding: 0.5rem;
  text-align: right;
}

.top-bar svg {
  vertical-align: middle;
}

.error-message {
  box-shadow: 0 0 1em 0.3em rgba(0,0,0,0.2);
  color: #fff;
  margin: 0.5rem 0 0 0;
}

.error-message .message {
  background-color: var(--red-500);
  background-repeat: no-repeat;
  background-position: right center;
  background-blend-mode: soft-light;
  background-size: 20em;
  font-family: 'Overpass Mono', monospace;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 4rem 3rem;
}

.error-message .message svg {
  fill-opacity: 50%;
}

.error-message .location {
  background: var(--red-700);
  font-size: 0.9rem;
  padding: 1rem 3rem 1rem 3rem;
}

.location .filename {
  font-weight: bold;
}



/* .source code {
  font-family: monospace;
} */

/* .view-source {
  margin-top: 1rem;
}
.view-source summary {
  cursor: pointer;
  text-decoration: underline;
}

.view-source summary:hover {
  color: #f7e5a1;
} */

div pre.sf-dump {
  font-size: 1rem;
  overflow-x: scroll;
}

pre.sf-dump .sf-dump-ref {
  /* display: none; */
}

pre.sf-dump .sf-dump-ref span+span {
  /* display: none; */
}

.help {
  padding: 0 0.5rem;
}

.tab-container {
  display: none;
}

.tab-visible {
  display: block;
}

.tabs li {
  list-style-type: none;
  padding: 0.5rem;
  margin-right: 2.5rem;
}

.tabs a {
  background: transparent;
  color: var(--gray-400);
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

.tabs a:hover {
  background: var(--gray-150);
  color: var(--gray-600);
}


.tabs a.active {
  font-weight: bold;
  background: var(--gray-150);
  border-bottom: solid 3px var(--red-500);
}

.help-item {
  border-bottom: solid 1px var(--gray-200);
  margin-bottom: 2rem;
  padding: 1rem 0 2rem 0;
}

.help-solution {
  margin-top: 1rem;
}

.trace-content {
  font-size: 0.9rem;
}

.trace-content br {
  display: block;
  margin: 0.7rem 0;
}

.client header {
  border: solid 1px var(--gray-300);
  margin-top: 0.5rem;
  padding: 1rem;
}

.client header h1 {
  margin-top: 0;
}

#messages {
  margin-top: 2rem;
}

body.client {
  background: var(--gray-090);
  padding: 1rem;
}

.client-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.server-status {
  margin-top: 1rem;
}

#connection-status {
  border-radius: 3px;
  color: #fff;
  padding: 1px 4px 2px 4px
}

.status-connecting {
  background: var(--gray-600);
}

.status-connected {
  background: var(--green-600);
}

.status-disconnected {
  background: var(--red-500);
}

.packet {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background: var(--gray-150);
  border: solid 1px var(--gray-200);
}

.packet.packet-type--message {
}

.packet.packet-type--dump {
  background: var(--yellow-200);
  border: solid 1px var(--yellow-400);
}

.packet-type--dump .packet-call-location {
  border-color: var(--yellow-400);
}


.packet.packet-type--breakpoint {
  background: var(--blue-010);
  border: solid 1px var(--blue-025);
}

.packet-type--breakpoint .packet-call-location {
  border-color: var(--blue-025);
}

.packet pre.sf-dump,
.packet pre.sf-dump .sf-dump-default {
  font-size: 1rem;
}

.packet pre.sf-dump {
  padding: 1rem;
}

.packet-label {
  font-weight: 600;
}

.packet-timestamp {
  margin-bottom: 1rem;
}

.packet-call-location {
  border-bottom: solid 1px var(--gray-300);
  color: var(--gray-500);
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.packet {
  background: var(--gray-150);
  border: solid 1px var(--gray-200);
  margin-bottom: 1.5rem;
  padding: 1rem
}

.packet pre.sf-dump,
.packet pre.sf-dump .sf-dump-default {
  font-size: 1rem;
}

.packet pre.sf-dump {
  padding: 1rem;
}

.filename {
  font-weight: 600;
}

.var-type {
  color: var(--gray-500);
  font-weight: 600;
  text-transform: capitalize;
}

.var-info {
  color: var(--gray-500);
}

.var-info .classname {
  font-weight: normal;
}

a:hover {
  color: var(--red-500);
}


.source {
  border: solid 1px var(--gray-300);
  line-height: 125%;
  margin: 0.5em 0;
}

.source .CodeMirror {
  font-family: 'NotoMono Regular', monospace;
  font-size: 0.9em;
}

.source .highlight-line {
  background: var(--red-25);
  border-bottom: solid 1px var(--red-50);
  border-top: solid 1px var(--red-50);
}

.source .CodeMirror-gutter-elt {
  font-weight: bold;
}

#tab-error h2,
#tab-error h3
{
  margin-left: 0.5em;
}

.stackframe {
  background: var(--gray-50);
  border: solid 1px var(--gray-300);
  border-bottom: none;
  font-size: 0.9em;
  padding: 0.5em 1em;
}

.stackframe:last-of-type {
  border-bottom: solid 1px var(--gray-300);
}