{# 
  Twig template to render an individual packet (message) sent to a client. 

  Params:
  -
  -
  -
#}

<div class="packet packet-type--{{ type }}">
  <div class="packet-header">
    <span class="packet-timestamp">{{ time }}</span>
    {% if label %} 
      | <span class="packet-label">{{ label }}</span>
    {% else %}
      | <span class="packet-label">{{ type }} id: {{ id }}</span>
    {% endif %}
    </div>
  <div class="packet-call-location">&rarr; {{path_to_file}}/<span class="filename">{{ filename }}</span> (line {{ line }})</div>
</div>