<!DOCTYPE html>
<html>

  <head>
      <title>Debug Client</title>
      <link rel="stylesheet" type="text/css" href="/{{ module_path }}/assets/css/app.css">
      <link rel="shortcut icon" type="image/svg+xml" href="/{{ module_path }}/assets/icons/shield-client.svg">
      <meta charset="utf-8">
  </head>

  <body class="client">

    <div class="client-wrapper">
      <header>
        <h1>Webdebug client</h1>
        <div class="server-info">
          Server: <span id="connection-server">localhost:{{ port }}</span>
        </div>
        <div class="server-status">
          Status:
          <span id="connection-status" class="status-connecting" >connecting...</span>
        </div>
      </header>

      <div id="messages"> </div>
    </div>

    <script type="text/javascript">
      (function() {
        // Utility functions to ensure scripts injected by symfony dump() are not ignored by the browser.
        // https://stackoverflow.com/questions/1197575/can-scripts-be-inserted-with-innerhtml
        function nodeScriptReplace(node) {
          if ( nodeScriptIs(node) === true ) {
            node.parentNode.replaceChild(nodeScriptClone(node), node);
          }
          else {
            var i = -1, children = node.childNodes;
            while (++i < children.length) {
              nodeScriptReplace(children[i]);
            }
          }
          return node;
        }

        function nodeScriptClone(node){
          var script  = document.createElement("script");
          script.text = node.innerHTML;

          var i = -1, attrs = node.attributes, attr;
          while (++i < attrs.length) {
            script.setAttribute((attr = attrs[i]).name, attr.value);
          }
          return script;
        }

        function nodeScriptIs(node) {
          return node.tagName === 'SCRIPT';
        }

        // WebSocket connection.

        var el = document.getElementById('messages');
        var connStatus = document.getElementById('connection-status');
        function connect() {
          // 'webClient' is a custom protocol name we're passing along so senders can
          // differentiate between webClient and cliClient (which output to send where).
          // For now, the options are: (cliClient | webClient).
          var socket  = new WebSocket("ws://localhost:{{ port }}");

          // OPEN.
          socket.onopen = function() {
            connStatus.innerHTML = 'connected';
            connStatus.classList.remove('status-disconnected');
            connStatus.classList.add('status-connected');
          };

          // MESSAGE.
          socket.onmessage = function(e) {
            el.innerHTML = el.innerHTML + '<div class="message">' + e.data + '</div>';

            // Force browser to eval every <script> that gets dynamically added.
            // (Every symfony var_dump contains a script).
            nodeScriptReplace(el);

            // Avoid duplication of dump ref title attributes.
            const refs = Array.prototype.slice.apply(
              document.querySelectorAll("a.sf-dump-ref")
            );
            refs.forEach((ref) => {
              ref.setAttribute('title', '[Ctrl+click] Expand all children');
            });

          }

          // CLOSE.
          socket.onclose = function e() {
            connStatus.innerHTML = 'Debug Server not responding';
            connStatus.classList.remove('status-connected');
            connStatus.classList.add('status-disconnected');

            setTimeout(function() {
              connect();
            }, 1000);
          }

          // ERROR.
          socket.onerror = function e() {

          }
        }

        connect();

      })();
    </script>
  </body>
</html>
