{# 
  Twig template to render an individual packet (message) sent to a client. 

  Params:
  -
  -
  -
#}

<div class="packet packet-type--{{ type }}">
  <div class="packet-header">
    <span class="packet-timestamp">{{ time }}</span>
    {% if label %} 
      | <span class="packet-label">{{ label }}</span>
    {% else %}
      | <span class="packet-label">{{ type }} id: {{ id }}</span>
    {% endif %}
    {% if type == 'breakpoint'%} [ <a href="/api/webdebug/breakpoint/remove/{{ id }}" id="{{ id }}">remove breakpoint</a> ]{% endif %}
    </div>
  <div class="packet-call-location">&rarr; {{path_to_file}}/<span class="filename">{{ filename }}</span> (line {{ line }})</div>

  <div class="packet-body">
    {% for var in vars %}
    <div class="var-type">
      <span class="var-type">{{ var.type }}</span>
      <span class="var-info">{% if var.info %}<span class="classname">( {{ var.info|raw }} )</span>{% endif %}</span>
    </div>
    <div class="var-dump">{{ var.dump|raw }}</div>
    {% endfor %}
  </div>
</div>