<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Webdebug Error Page</title>

    <link rel="stylesheet" type="text/css" href="/{{ module_path }}/assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="/{{ module_path }}/assets/third-party/codemirror/lib/codemirror.css">
    <link rel="shortcut icon" type="image/svg+xml" href="/{{ module_path }}/assets/icons/shield-error-page.svg">
    <script src="/{{ module_path }}/assets/third-party/codemirror/lib/codemirror.js"></script>
    <script src="/{{ module_path }}/assets/third-party/codemirror/mode/clike/clike.js"></script>
    <script src="/{{ module_path }}/assets/third-party/codemirror/mode/xml/xml.js"></script>
    <script src="/{{ module_path }}/assets/third-party/codemirror/mode/css/css.js"></script>
    <script src="/{{ module_path }}/assets/third-party/codemirror/mode/javascript/javascript.js"></script>
    <script src="/{{ module_path }}/assets/third-party/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/{{ module_path }}/assets/third-party/codemirror/mode/php/php.js"></script>
    <script src="/{{ module_path }}/assets/third-party/codemirror/addon/display/autorefresh.js"></script>
    <script src="/{{ module_path }}/assets/third-party/codemirror/addon/edit/matchbrackets.js"></script>

  </head>

  <body>

<div class="flex-container">

    <div class="sidenav">
      <ul class="tabs">
        <li><a href="#" id="link-error" data-target-tab="tab-error" class="active">Error</a></li>
        <li><a href="#" id="link-stacktrace" data-target-tab="tab-stacktrace">Stacktrace</a></li>
        <li><a href="#" id="link-request" data-target-tab="tab-request">Request</a></li>
        <li><a href="#" id="link-response" data-target-tab="tab-response">Response</a></li>
        <li><a href="#" id="link-variables" data-target-tab="tab-variables">Variables</a></li>                                    
      </ul>
    </div>


    <div class="content">
      <div class="content-inner">
      
        <div class="top-bar">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M3.783 2.826L12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976zM5 4.604v9.185a4 4 0 0 0 1.781 3.328L12 20.597l5.219-3.48A4 4 0 0 0 19 13.79V4.604L12 3.05 5 4.604zM13 10h3l-5 7v-5H8l5-7v5z" fill="rgba(1,104,173,1)"/></svg>
          Webdebug Error Interceptor
        </div>

        <!-- ERROR TAB-->

        <div class="tab-container" id="tab-error">

          <h2>{{ type }}</h2>

          <div class="error-message">
            <div class="message" style="background-image: url(/{{ module_path }}/assets/icons/drupal-dark.svg); background-repeat: no-repeat">{{ message }}</div>
            <div class="location">
              &rarr; in {{ file.path_to_file }}/<span class="filename">{{ file.filename }}</span> (line {{ line }}):
            </div>
          </div>

  
          <div class="source">
<div id="editor">
{# {% apply spaceless %} #}
{%- for source_line in file.source_lines %}
{{- source_line -}}
{% endfor -%}
{# {% endapply %} #}
</div>

          </div>
          <script type="text/javascript">
          var startLine = {{ line }} - 5;
          var editor = document.getElementById('editor');

          var text = editor.textContent || editor.innerText;
          var mirror = CodeMirror(function(node){editor.parentNode.replaceChild(node, editor);}, {
            value: text,
            mode: "application/x-httpd-php",
            matchBrackets: true,
            theme: "default",
            tabSize: 2,
            lineNumbers: true,
            firstLineNumber: startLine,
            readOnly: true,
            autoRefresh: true, 
          });

          var doc = mirror.getDoc();
          doc.addLineClass(5, 'background', 'highlight-line');


          </script>


          <div class="error-trace">

          <h3>Stacktrace</h3>
            {% for stackframe in trace %}

            {% if stackframe.file %}
            <div class="stackframe">{{ stackframe.file }} (line {{ stackframe.line}})</div>
            {% endif %}


            {% endfor %}

            <hr>
          </div>



          {% if help %}
            <div class="help">
              <h3>Troubleshooting suggestions</h3>

              {% for item in help %}
              <div class="help-item">

                <div class="help-explanation">
                  {{ item.explanation }}
                </div>

                <div class="help-solution">
                  &rarr; {{ item.solution }}
                </div>

              </div>
              {% endfor %}

            </div>
          {% endif %}

          

        </div>



        <!-- STACKTRACE TAB-->

        <div class="tab-container" id="tab-stacktrace">
          <h3>Stacktrace</h3>
          <h4>Message</h4>
          
          <div class="">
          {{ message }} in {{ file.path_to_file }}/<span class="filename">{{ file.filename }}</span> (line {{ line }}).
          </div>

          <hr>

          <div class="trace-content">
            {% for stackframe in trace %}

            {% if stackframe.file %}
            <div class="">{{ loop.index0 }} &nbsp; &nbsp; {{ stackframe.file }} (line {{ stackframe.line}})</div>
            {% endif %}


            {% endfor %}

            <hr>
          </div>

        </div>




      </div>
    </div>
</div>



    <script src="/{{ module_path }}/assets/js/app.js"></script>

  </body>
</html>




